/* 1. GLOBAL COLOR AND STYLE VARIABLES */
:root {
    /* Define global color and style variables for site-wide consistency */
    --color-primary-blue: #3498db;
    --color-primary-blue-hover: #2980b9;
    --color-primary-gold: #ddb11f;
    --color-primary-gold-hover: #96750a;
    --color-primary-brown: #743903;

    --color-bg-light: #f8f8f8;
    --color-bg-dark: #eeeeee;

    --color-dropdown-base: #bbbbbb;
    --color-dropdown-hover: #5f5f5f;
    
    --color-timer-start: #76c7ac;
    --color-timer-end: ;

    --font-serif: 'Georgia', serif;
    --font-size-base: 1.1rem;
    --font-size-large: 1.6rem;

    --border-radius-lg: 10px;

    --strike-box-size: 80px;
}

@keyframes flash-red {
    0% {box-shadow: 0 0 10px 2px rgba(255, 0, 0, 0.4);}
    50% {box-shadow: 0 0 10px 4px rgba(255,0,0,0.9);}
    100% {box-shadow: 0 0 10px 2px rgba(255,0,0,0.4);}
}

/*  2. TYPOGRAPHY AND DEFAULT ELEMENTS */
h1 {
    text-align: center;
    font-size: 2.5rem;
    margin-top: 20px;
}

h2 {
    font-size: 2rem;
    margin: 10px 0;
}

/*  3. REUSABLE CONTROLS (Buttons and Selects) */
button,
select,
#include-exclude-toggle {
    font-size: var(--font-size-base);
    border: none;
    cursor: pointer;
    color:white;
    box-shadow: 0 2px 5px rgba(0,0,0,0.09);
    transition: background-color 0.3s ease, transform 0.1s ease;
    flex-shrink: 0; /* Prevents buttons from shrinking */
    border-radius: var(--border-radius-lg);
    margin: 3px 5px 3px 5px; /* Top, Right, Bottom, Left*/
}

button {
    padding: 14px 22px;
    font-size: 1.2rem;
    font-weight: 500;
    background-color: var(--color-primary-blue);
    box-shadow: 0 2px 5px rgba(0,0,0,0.2); /* Stronger shadow for action buttons */
}

button:hover {
    background-color: var(--color-primary-blue-hover);
    transform: scale(1.05);
}

button:active {
    transform: scale(0.95);
}

button:disabled {
    background-color: #a9a9a9;
    color: #555;
    cursor: not-allowed;
    box-shadow: none;
    opacity: 0.7;
    transform: none;
}