/* 1. MAIN STRUCTURE */
#container {
    display: flex;
    height: 100vh;
}

#left-panel,
#right-panel {
    flex: 1;
    display: inline-block;
    vertical-align: top;
    padding: 20px;
    box-sizing: border-box;
}

/* 2.  PANEL SPECIFIC STYLES */
#left-panel {
    background: var(--color-bg-light);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

#right-panel {
    background: var(--color-bg-dark);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

/*  3. TIMER AND CONTROLS (Positioning) */
#timer-container {
    min-height: 20px;
    width: 100%;
    height: 20px;
    background: var(--color-bg-light);
    border: 1px solid #000000;
    margin: 10px auto;
    position: relative;
    overflow: hidden;
    border-radius: 6px;
}

#timer-bar {
    min-height: 16px;
    height: 100%;
    background: var(--color-timer-start);
    width: 100%;
    transition: width 0.1s linear, background-color 0.2s linear;
    border-radius: 6px;
}

#timer-container.warning-flash {
    animation: flash-red 1s ease-in-out infinite;
}

.controls {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin: 20px 0px;
}